html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    'Helvetica Neue', HelveticaNeue, '游ゴシック体', YuGothic,
    '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', Verdana,
    'メイリオ', Meiryo, sans-serif;
}

body {
  background-color: white;
  color: #333;
}

a {
  color: rgb(0, 192, 255);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(64, 128, 192);
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}

pre.code {
  background-color: #f9f9f9;
  color: #333;
  padding: 1em;
  overflow: scroll
}

pre.code code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
  line-height: 1.2em;
}

footer {
  margin: 48px auto 32px auto;
  max-width: 800px;
  text-align: center;
}